<section class="w-full py-12 border-t border-black md:py-24 lg:py-32">
    <div class="grid gap-6 px-7 md:px-6">
        <div class="items-center max-w-5xl gap-6 mx-auto lg:grid-cols-2 lg:gap-10">
            <h2
                class="flex items-center justify-center pb-5 text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl">
                <svg class="w-16 h-16 text-black dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m8 8-4 4 4 4m8 0 4-4-4-4m-2-3-4 14" />
                </svg>
                Proyectos
            </h2>
            <p class="pb-5 mb-3 text-center text-gray-600 dark:text-gray-400">
                Al hacer click en algún proyecto se abrirá el repositorio en GitHub.
            </p>
            <div class="grid gap-6 md:grid-cols-2">
                <div
                    class="relative overflow-hidden transition-transform duration-300 ease-in-out transform bg-gray-100 rounded-lg shadow-xl hover:scale-105">
                    <a href="https://github.com/carocomba28/Proyecto-full-stack" target="_blank">
                        <div
                            class="absolute inset-0 flex items-center justify-center gap-4 p-4 text-2xl font-semibold text-center text-white transition-opacity bg-black bg-opacity-50 opacity-0 group-hover:opacity-100">
                            <div class="flex flex-col gap-1">
                                <span class="line-clamp-1">Ver proyecto</span>
                                <span class="text-xs leading-none"></span>
                            </div>
                        </div>
                        <img src="https://i.ibb.co/VYNG5gC/Dise-o-sin-t-tulo-2.png" width="600" height="300"
                            class="object-cover w-full h-60" style="aspect-ratio: 600 / 300; object-fit: cover;" />
                        <div class="p-4 bg-gray-100 dark:bg-gray-800">
                            <h3 class="text-lg font-semibold md:text-xl line-clamp-2">Proyecto de
                                gestión de
                                notas</h3>
                            <p class="text-base text-gray-500 dark:text-gray-400 line-clamp-2">
                                Este proyecto cuenta con un login, un CRUD de notas y la posibilidad de
                                filtrar
                                por categoría y por notas archivadas o desarchivadas. Además guarda la
                                información en una base de datos MySQL.
                            </p>
                            <ul class="pl-4 text-sm text-gray-500 list-disc dark:text-gray-400">
                                <li>
                                    Tecnologías para el frontend: Angular, Bootstrap.
                                </li>
                                <li>
                                    Tecnologías para el backend: Java, Spring Boot.
                                </li>
                            </ul>
                        </div>
                    </a>
                </div>
                <div
                    class="relative overflow-hidden transition-transform duration-300 ease-in-out transform bg-gray-100 rounded-lg shadow-xl hover:scale-105">
                    <a href="https://github.com/carocomba28/Proyectos-HTML-CSS-JS" target="_blank">
                        <img src="https://i.ibb.co/VLVsq0F/Dise-o-sin-t-tulo.png" width="600" height="300"
                            class="object-cover w-full h-60" style="aspect-ratio: 600 / 300; object-fit: cover;" />
                        <div class="p-4 bg-gray-100 dark:bg-gray-800">
                            <h3 class="text-lg font-semibold md:text-xl line-clamp-2">Proyectos varios
                                con
                                HTML, CSS, JavaScript.</h3>
                            <p class="text-base text-gray-500 dark:text-gray-400 line-clamp-2">
                                Incluye un cronómetro, el juego Snake, un Ahorcado, un organizador de
                                tareas, una calculadora y un sistema de Cifrado
                                César.
                            </p>
                        </div>
                    </a>
                </div>
                <div
                    class="relative overflow-hidden transition-transform duration-300 ease-in-out transform bg-gray-100 rounded-lg shadow-xl hover:scale-105">
                    <a href="https://github.com/carocomba28/Practica-carrito-supermercado" target="_blank">
                        <div
                            class="absolute inset-0 flex items-center justify-center gap-4 p-4 text-2xl font-semibold text-center text-white transition-opacity bg-black bg-opacity-50 opacity-0 group-hover:opacity-100">
                            <div class="flex flex-col gap-1">
                                <span class="line-clamp-1">Ver proyecto</span>
                                <span class="text-xs leading-none"></span>
                            </div>
                        </div>
                        <img src="https://i.ibb.co/Bnx1NnQ/Dise-o-sin-t-tulo-1.png" width="600" height="300"
                            class="object-cover w-full h-60" style="aspect-ratio: 600 / 300; object-fit: cover;" />
                        <div class="p-4 bg-gray-100 dark:bg-gray-800">
                            <h3 class="text-lg font-semibold md:text-xl line-clamp-2">Proyecto de
                                carrito de
                                supermercado</h3>
                            <p class="text-gray-500 dark:text-gray-400 line-clamp-2">
                                En este proyecto, se puede elegir entre varios frutos secos y añadirlos
                                al
                                carrito. Mientras se van agregando productos, se puede ver cómo se suma
                                el
                                total
                                de la compra. Y si se cambia de opinión, también se puede sacar
                                productos
                                del
                                carrito.
                            </p>
                        </div>
                    </a>
                </div>
                <div
                    class="relative overflow-hidden transition-transform duration-300 ease-in-out transform bg-gray-100 rounded-lg shadow-xl hover:scale-105">
                    <a href="https://github.com/carocomba28/Proyectos-Java" target="_blank">
                        <div
                            class="absolute inset-0 flex items-center justify-center gap-4 p-4 text-2xl font-semibold text-center text-white transition-opacity bg-black bg-opacity-50 opacity-0 group-hover:opacity-100">
                            <div class="flex flex-col gap-1">
                                <span class="line-clamp-1">Ver proyecto</span>
                                <span class="text-xs leading-none"></span>
                            </div>
                        </div>
                        <img src="https://i.ibb.co/6rXMV95/Dise-o-sin-t-tulo-3.png" class="object-cover w-full h-60"
                            style="aspect-ratio: 600 / 300; object-fit: cover;" />
                        <div class="p-4 bg-gray-100 dark:bg-gray-800">
                            <h3 class="text-lg font-semibold md:text-xl line-clamp-2">Proyecto final del
                                curso de Java</h3>
                            <p class="text-gray-500 dark:text-gray-400 line-clamp-2">
                                Este proyecto consiste en un sistema que realiza cálculos
                                para determinar el sueldo neto de un empleado. Incluye funciones para
                                calcular
                                descuentos, asignaciones familiares y un plus por antigüedad,
                                considerando
                                el
                                cargo y la cantidad de hijos del empleado.
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>