<section class="w-full py-12 md:py-24 lg:py-32 border-t" id="proyectos">
    <div class="container px-7 md:px-6">
        <div class="grid max-w-5xl mx-auto gap-6 lg:grid-cols-2 lg:gap-10 items-center">
            <div class="space-y-4">
                <h2 class="flex items-center text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl">
                    <svg class="w-14 h-14 mr-3" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#000000">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <defs>
                                <style>
                                    .cls-1 {
                                        fill: none;
                                        stroke: #020202;
                                        stroke-miterlimit: 10;
                                        stroke-width: 1.92px;
                                    }
                                </style>
                            </defs>
                            <g id="presentation_standing" data-name="presentation standing">
                                <line class="cls-1" x1="0.5" y1="1.48" x2="23.5" y2="1.48"></line>
                                <line class="cls-1" x1="0.5" y1="16.81" x2="23.5" y2="16.81"></line>
                                <rect class="cls-1" x="2.42" y="1.48" width="19.17" height="15.33"></rect>
                                <line class="cls-1" x1="12" y1="16.81" x2="12" y2="23.52"></line>
                                <polyline class="cls-1" points="8.17 23.52 8.17 22.56 12 19.69"></polyline>
                                <polyline class="cls-1" points="15.83 23.52 15.83 22.56 12 19.69"></polyline>
                            </g>
                        </g>
                    </svg>
                    Proyectos
                </h2>
                <p class="text-gray-500 dark:text-gray-400">
                    Al hacer click en algún proyecto se abrirá el repositorio en GitHub.
                </p>
            </div>
            <div class="grid gap-6 sm:grid-cols-2">
                <div class="space-y-2">
                    <a target="_blank" class="font-semibold underline underline-offset-2"
                        href="https://github.com/carocomba28/Proyecto-full-stack">
                        Proyecto de gestión de notas
                    </a>
                    <p class="text-gray-500 dark:text-gray-400">
                        Este proyecto cuenta con un login, un CRUD de notas y la posibilidad de filtrar
                        por categoría y por notas archivadas o desarchivadas.
                    </p>
                    <ul class="pl-4 text-gray-500 dark:text-gray-400 list-disc">
                        <li>
                            Tecnologías para el fronted: Angular, Bootstrap.
                        </li>
                        <li>
                            Tecnologías para el backend: Java, Spring Boot.
                        </li>
                    </ul>
                </div>
                <div class="space-y-2">
                    <a target="_blank" class="font-semibold underline underline-offset-2"
                        href="https://github.com/carocomba28/Proyectos-HTML-CSS-JS">
                        Proyectos varios con HTML, CSS, JavaScript.
                    </a>
                    <p class="text-gray-500 dark:text-gray-400">
                        Incluye un cronómetro, el juego Snake, una calculadora y un sistema de Cifrado
                        César.
                    </p>
                </div>
                <div class="space-y-2">
                    <a target="_blank" class="font-semibold underline underline-offset-2"
                        href="https://github.com/carocomba28/Practica-carrito-supermercado">
                        Proyecto de carrito de supermercado
                    </a>
                    <p class="text-gray-500 dark:text-gray-400">
                        En este proyecto, se puede elegir entre varios frutos secos y añadirlos al
                        carrito. Mientras se van agregando productos, se puede ver cómo se suma el total
                        de la compra. Y si se cambia de opinión, también se puede sacar productos del
                        carrito.
                    </p>
                </div>
                <div class="space-y-2">
                    <a target="_blank" class="font-semibold underline underline-offset-2"
                        href="https://github.com/carocomba28/Proyectos-Java">
                        Proyecto final del curso de Java
                    </a>
                    <p class="text-gray-500 dark:text-gray-400">
                        Este proyecto consiste en un sistema que realiza cálculos
                        para determinar el sueldo neto de un empleado. Incluye funciones para calcular
                        descuentos, asignaciones familiares y un plus por antigüedad, considerando el
                        cargo y la cantidad de hijos del empleado.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>