<section class="w-full py-12 md:py-24 lg:py-32 border-t border-black">
    <div class="container px-7 grid gap-6 md:px-6">
        <div class="max-w-5xl items-center">
            <h2 class="flex items-center text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl pb-5 justify-center">
                <img src="assets/imagenes/educacion.png" alt="Experiencia Laboral" class="w-14 h-14 mr-3">
                Educación
            </h2>
            <div class="space-y-4">
                <h3 class="text-xl font-semibold mb-2">
                    Tecnicatura Universitaria en Programación
                </h3>
                <p class="text-gray-700 dark:text-gray-400">
                    Universidad Tecnológica Nacional (2022 - Actualidad)</p>
                <ul class="list-disc list-inside space-y-1.5">
                    <li>
                        En marzo de 2022 arranqué la Tecnicatura Universitaria en Programación
                        en la UTN - FRC y actualmente me faltan dos materias para recibir el título, entre ellas el trabajo final.
                    </li>
                    <li>
                        En el ámbito de desarrollo backend aprendí lenguajes como: Java, .NET y C#,
                        adquiriendo conocimientos en la creación de APIs RESTful utilizando frameworks como
                        Spring Boot y
                        ASP.NET Core. Implementación de patrones de diseño, desarrollo de microservicios y realización de pruebas unitarias e integración.
                    </li>
                    <li>
                        En el desarrollo frontend adquirí conocimientos en lenguajes como: HTML,
                        CSS, JavaScript y Angular como framework para desarrollar aplicaciones web interactivas
                        y dinámicas. Además, he trabajado con bibliotecas como Bootstrap y Tailwind, que me permitieron crear diseños modernos manera eficiente.
                    </li>
                    <li>
                        Base de datos: SQL Server, PostgreSQL, MySQL.
                    </li>
                    <li>
                        Metodologías ágiles: Scrum.
                    </li>
                </ul>
            </div>
            <div class="space-y-4 mt-5">
                <h3 class="text-xl font-semibold mb-2">
                    Curso de Fundamentos de Programación e Introducción a Base de Datos
                </h3>
                <p class="text-gray-700 dark:text-gray-400">
                    Integral Capacitando (Marzo 2021 - Agosto 2021)</p>
                <ul class="list-disc list-inside space-y-1.5">
                    <li>
                        Temas cubiertos incluyen: introducción a la programación, variables y
                        tipos de datos,
                        estructuras de
                        control de flujo, funciones, programación orientada a objetos en
                        lenguaje Java, introducción
                        a bases de
                        datos en lenguaje SQL en Access.
                    </li>
                    <li>
                        Examen final aprobado con 10.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
