<section class="w-full py-12 md:py-24 lg:py-32 border-t"  id="educacion">
  <div class="container px-7 grid gap-6 md:px-6">
      <div class="max-w-5xl mx-auto gap-6 lg:grid-cols-2 lg:gap-10 items-center">
          <h2
              class="flex items-center text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl pb-5 justify-center">
              <svg class="w-14 h-14 mr-3" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                  fill="#000000">
                  <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                  <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                  <g id="SVGRepo_iconCarrier">
                      <defs>
                          <style>
                              .cls-1 {
                                  fill: none;
                                  stroke: #020202;
                                  stroke-miterlimit: 10;
                                  stroke-width: 1.92px;
                              }
                          </style>
                      </defs>
                      <g id="presentation_standing" data-name="presentation standing">
                          <line class="cls-1" x1="0.5" y1="1.48" x2="23.5" y2="1.48"></line>
                          <line class="cls-1" x1="0.5" y1="16.81" x2="23.5" y2="16.81"></line>
                          <rect class="cls-1" x="2.42" y="1.48" width="19.17" height="15.33"></rect>
                          <line class="cls-1" x1="12" y1="16.81" x2="12" y2="23.52"></line>
                          <polyline class="cls-1" points="8.17 23.52 8.17 22.56 12 19.69"></polyline>
                          <polyline class="cls-1" points="15.83 23.52 15.83 22.56 12 19.69">
                          </polyline>
                      </g>
                  </g>
              </svg>
              Educación
          </h2>
          <div class="space-y-4">
              <h3 class="text-2xl font-bold tracking-tighter">
                  Tecnicatura Universitaria en Programación
              </h3>
              <p class="text-gray-500 dark:text-gray-400">
                  Universidad Tecnológica Nacional (2022 - Actualidad)</p>
              <ul class="list-disc list-inside space-y-1.5">
                  <li>
                      En marzo de 2022 arranqué la Tecnicatura Universitaria en Programación
                      en la UTN - FRC y actualmente estoy cursando la última materia de la
                      carrera que se trata del trabajo final
                      para poder egresarme.
                  </li>
                  <li>
                      En el ámbito de desarrollo backend aprendí lenguajes como: Java, .NET y C#,
                      adquiriendo conocimientos en la creación de APIs RESTful utilizando frameworks como
                      Spring Boot y
                      ASP.NET Core.
                  </li>
                  <li>
                      En el desarrollo frontend adquirí conocimientos en lenguajes como: HTML,
                      CSS, JavaScript y Angular como framework para desarrollar aplicaciones web interactivas
                      y dinámicas.
                  </li>
                  <li>
                      Base de datos: SQL Server, PostgreSQL, MySQL.
                  </li>
                  <li>
                      Metodologías ágiles: Scrum.
                  </li>
              </ul>
          </div>
          <div class="space-y-4">
              <h3 class="text-2xl font-bold tracking-tighter">
                  Curso de Fundamentos de Programación e Introducción a Base de Datos
              </h3>
              <p class="text-gray-500 dark:text-gray-400">
                  Integral Capacitando (Marzo 2021 - Agosto 2021)</p>
              <ul class="list-disc list-inside space-y-1.5">
                  <li>
                      Temas cubiertos incluyen: introducción a la programación, variables y
                      tipos de datos,
                      estructuras de
                      control de flujo, funciones, programación orientada a objetos en
                      lenguaje Java, introducción
                      a bases de
                      datos en lenguaje SQL en Access.
                  </li>
                  <li>
                      Examen final aprobado con 10.
                  </li>
              </ul>
          </div>
      </div>
  </div>
</section>