<footer class="py-4 text-sm text-center">
    <div class="flex flex-col gap-2">
        <div class="grid gap-1">
            <h3 class="text-lg font-semibold">Contacto</h3>
            <div class="flex items-center justify-center space-x-2">
                <a href="mailto:carolinacomba42@gmail.com">
                    <i class="text-base bi bi-envelope"></i>
                </a>
                <span><a href="mailto:carolinacomba42@gmail.com">carolinacomba42&#64;gmail.com</a></span>
            </div>
        </div>
    </div>
    <div class="grid items-center justify-center grid-cols-3 gap-4 pt-4">
        <a href="https://www.instagram.com/caro.comba/" target="_blank"
            class="transition-transform duration-300 ease-in-out transform hover:opacity-100 hover:scale-110">
            <i class="mx-auto text-2xl transition-opacity opacity-50 bi bi-instagram hover:opacity-100"></i>
        </a>

        <a href="https://www.facebook.com/caro.comba03" target="_blank"
            class="transition-transform duration-300 ease-in-out transform hover:opacity-100 hover:scale-110">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="w-6 h-6 mx-auto transition-opacity opacity-50 hover:opacity-100">
                <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
            </svg>
        </a>
        <a href="https://twitter.com/CaroCombaa" target="_blank"
            class="transition-transform duration-300 ease-in-out transform hover:opacity-100 hover:scale-110">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="w-6 h-6 mx-auto transition-opacity opacity-50 hover:opacity-100">
                <path
                    d="M22 4s-.7 2.1-2 3.4c1.6 10-9.4 17.3-18 11.6 2.2.1 4.4-.6 6-2C3 15.5.5 9.6 3 5c2.2 2.6 5.6 4.1 9 4-.9-4.2 4-6.6 7-3.8 1.1 0 3-1.2 3-1.2z">
                </path>
            </svg>
        </a>
    </div>
</footer>