<section class="w-full py-12 md:py-24 lg:py-32 border-t border-black">
    <div class="max-w-4xl mx-auto px-7 md:px-8 lg:px-10">
        <div class="text-center">
            <h2 class="flex items-center text-3xl md:text-4xl lg:text-5xl font-bold tracking-tighter pb-5 justify-center">
                <i class="bi bi-mortarboard mx-3 text-6xl"></i>
                Experiencia Laboral
            </h2>
        </div>
        <div class="space-y-10">
            <div
                class="bg-white dark:bg-gray-800 shadow-lg rounded-lg overflow-hidden transition-transform transform hover:scale-105">
                <div class="p-6">
                    <h3 class="text-2xl font-semibold mb-2 text-gray-800 dark:text-white">
                        Software Developer
                    </h3>
                    <p class="text-sm text-gray-500 dark:text-gray-400">
                        Mercado Libre | Diciembre 2024 - Actualidad
                    </p>
                    <p class="mt-4 text-gray-700 dark:text-gray-300 text-sm">
                        En diciembre de 2024, tuve el privilegio de ser seleccionada para formar parte del IT Bootcamp
                        Backend de Mercado Libre, una experiencia increíble para el desarrollo de habilidades técnicas y
                        profesionales en el ámbito del desarrollo backend.
                    </p>
                </div>
            </div>

            <div
                class="bg-white dark:bg-gray-800 shadow-lg rounded-lg overflow-hidden transition-transform transform hover:scale-105">
                <div class="p-6">
                    <h3 class="text-2xl font-semibold mb-2 text-gray-800 dark:text-white">
                        Diseñadora Web
                    </h3>
                    <p class="text-sm text-gray-500 dark:text-gray-400">
                        Branded Strong | Abril 2024 - Noviembre 2024
                    </p>
                    <ul class="list-inside list-disc mt-4 text-gray-700 dark:text-gray-300 space-y-2 text-sm">
                        <li>Utilización de WordPress y el tema Divi para crear y actualizar contenido en las páginas web
                            de los clientes.</li>
                        <li>Integración y gestión de diversos plugins de WordPress para optimizar la funcionalidad y el
                            diseño de las páginas.</li>
                        <li>Migración de sitios web a nuevos servidores de manera eficiente.</li>
                        <li>Implementación de Google Analytics para realizar un seguimiento detallado del tráfico web.
                        </li>
                        <li>Gestión de alojamiento en SiteGround y adquisición de dominios mediante Namecheap.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>