<div class="flex flex-col items-center justify-center">
    <div class="flex flex-col">
        <nav class="bg-transparent lg:bg-transparent p-4">
            <div class="flex flex-wrap justify-center items-center content-between">
                <a class="font-medium text-black hover:underline underline-offset-4 transform hover:scale-110 transition-transform duration-300 ease-in-out sm:mb-0 mr-4 md:mx-6 md:text-2xl"
                    (click)="scrollToSection('sobre-mi')" style="cursor: pointer;">
                    Sobre mí
                </a>
                <a class="font-medium text-black hover:underline underline-offset-4 transform hover:scale-110 transition-transform duration-300 ease-in-out sm:mb-0 mr-4 md:mx-6 md:text-2xl"
                    (click)="scrollToSection('experiencia')" style="cursor: pointer;">
                    Experiencia
                </a>
                <a class="font-medium text-black hover:underline underline-offset-4 transform hover:scale-110 transition-transform duration-300 ease-in-out sm:mb-0 mr-4 md:mx-6 md:text-2xl"
                    (click)="scrollToSection('educacion')" style="cursor: pointer;">
                    Educación
                </a>
                <a class="font-medium text-black hover:underline underline-offset-4 transform hover:scale-110 transition-transform duration-300 ease-in-out sm:mb-0 md:mx-6 md:text-2xl"
                    (click)="scrollToSection('skills')" style="cursor: pointer;">
                    Skills
                </a>
            </div>
        </nav>

        <main class="flex-1">
            <app-inicio></app-inicio>
            <app-sobre-mi id="sobre-mi"></app-sobre-mi>
            <app-experiencia id="experiencia"></app-experiencia>
            <app-educacion id="educacion"></app-educacion>
            <app-skills id="skills"></app-skills>
        </main>
    </div>
    <footer class="py-4 text-center text-sm">
        <div class="flex flex-col gap-2">
            <div class="grid gap-1">
                <h3 class="font-semibold text-lg">Contacto</h3>
                <div class="flex items-center justify-center space-x-2">
                    <a href="tel:543534216181">
                        <i class="bi bi-telephone text-base"></i>
                    </a>
                    <span> <a href="tel:3534216181">+54 353-4216181</a> </span>
                </div>
                <div class="flex items-center justify-center space-x-2">
                    <a href="mailto:carolinacomba42@gmail.com">
                        <i class="bi bi-envelope text-base"></i>
                    </a>
                    <span><a href="mailto:carolinacomba42@gmail.com">carolinacomba42&#64;gmail.com</a></span>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-3 items-center justify-center gap-4 pt-4">
            <a href="https://www.instagram.com/caro.comba/" target="_blank"
                class="hover:opacity-100 transform hover:scale-110 transition-transform duration-300 ease-in-out">
                <i class="bi bi-instagram text-2xl opacity-50 hover:opacity-100 transition-opacity mx-auto"></i>
            </a>

            <a href="https://www.facebook.com/caro.comba03" target="_blank"
                class="hover:opacity-100 transform hover:scale-110 transition-transform duration-300 ease-in-out">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="w-6 h-6 opacity-50 hover:opacity-100 transition-opacity mx-auto">
                    <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
                </svg>
            </a>
            <a href="https://twitter.com/CaroCombaa" target="_blank"
                class="hover:opacity-100 transform hover:scale-110 transition-transform duration-300 ease-in-out">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="w-6 h-6 opacity-50 hover:opacity-100 transition-opacity mx-auto">
                    <path
                        d="M22 4s-.7 2.1-2 3.4c1.6 10-9.4 17.3-18 11.6 2.2.1 4.4-.6 6-2C3 15.5.5 9.6 3 5c2.2 2.6 5.6 4.1 9 4-.9-4.2 4-6.6 7-3.8 1.1 0 3-1.2 3-1.2z">
                    </path>
                </svg>
            </a>
        </div>
    </footer>
</div>