<div class="flex flex-col min-h-screen items-center justify-center">
    <div class="flex flex-col min-h-[100dvh]">
        <header class="px-4 lg:px-6 h-14 flex items-center justify-center">
            <nav class="flex px-3 gap-3 my-auto content-center items-center lg:gap-10" id="nav">
                <a href="#" class="transform hover:scale-110 transition-transform duration-300 ease-in-out">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="h-8 w-8 aspect-square">
                        <circle cx="12" cy="12" r="10"></circle>
                        <path d="M10 9.3a2.8 2.8 0 0 0-3.5 1 3.1 3.1 0 0 0 0 3.4 2.7 2.7 0 0 0 3.5 1"></path>
                        <path d="M17 9.3a2.8 2.8 0 0 0-3.5 1 3.1 3.1 0 0 0 0 3.4 2.7 2.7 0 0 0 3.5 1"></path>
                    </svg>
                </a>
                <a class="font-medium hover:underline underline-offset-4 transform hover:scale-110 transition-transform duration-300 ease-in-out" (click)="scrollToSection('sobre-mi')">
                    Sobre mí
                </a>
                <a class="font-medium hover:underline underline-offset-4 transform hover:scale-110 transition-transform duration-300 ease-in-out" (click)="scrollToSection('educacion')">
                    Educación
                </a>
                <a class="font-medium hover:underline underline-offset-4 transform hover:scale-110 transition-transform duration-300 ease-in-out" (click)="scrollToSection('proyectos')">
                    Proyectos
                </a>
                <a class="font-medium hover:underline underline-offset-4 transform hover:scale-110 transition-transform duration-300 ease-in-out" (click)="scrollToSection('skills')">
                    Skills
                </a>
            </nav>
        </header>
        <main class="flex-1">
            <app-inicio></app-inicio>
            <app-sobre-mi id="sobre-mi"></app-sobre-mi>
            <app-educacion id="educacion"></app-educacion>
            <app-proyectos id="proyectos"></app-proyectos>
            <app-skills id="skills"></app-skills>
        </main>
    </div>
    <footer class="py-4 text-center text-sm">
        <div class="flex flex-col gap-2">
            <div class="grid gap-1">
                <h3 class="font-semibold text-lg">Contacto</h3>
                <div class="flex items-center justify-center space-x-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="w-4 h-4">
                        <path
                            d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z">
                        </path>
                    </svg>
                    <span> <a href="tel:+54 353-4216181">+54 353-4216181</a> </span>
                </div>
                <div class="flex items-center justify-center space-x-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="w-4 h-4">
                        <rect width="20" height="16" x="2" y="4" rx="2"></rect>
                        <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
                    </svg>
                    <span><a href="mail:carolinacomba42@gmail.com">carolinacomba42@gmail.com</a></span>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-3 items-center justify-center gap-4 pt-4">
            <a href="https://www.instagram.com/caro.comba/" target="_blank" class="hover:opacity-100 transform hover:scale-110 transition-transform duration-300 ease-in-out">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="w-6 h-6 opacity-50 hover:opacity-100 transition-opacity mx-auto">
                    <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                    <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                    <line x1="17.5" x2="17.51" y1="6.5" y2="6.5"></line>
                </svg>
            </a>
            <a href="https://www.facebook.com/caro.comba03" target="_blank" class="hover:opacity-100 transform hover:scale-110 transition-transform duration-300 ease-in-out">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="w-6 h-6 opacity-50 hover:opacity-100 transition-opacity mx-auto">
                    <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
                </svg>
            </a>
            <a href="https://twitter.com/CaroCombaa" target="_blank" class="hover:opacity-100 transform hover:scale-110 transition-transform duration-300 ease-in-out">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="w-6 h-6 opacity-50 hover:opacity-100 transition-opacity mx-auto">
                    <path
                        d="M22 4s-.7 2.1-2 3.4c1.6 10-9.4 17.3-18 11.6 2.2.1 4.4-.6 6-2C3 15.5.5 9.6 3 5c2.2 2.6 5.6 4.1 9 4-.9-4.2 4-6.6 7-3.8 1.1 0 3-1.2 3-1.2z">
                    </path>
                </svg>
            </a>
        </div>
    </footer>
</div>