<section class="w-full py-12 md:py-24 lg:py-32 border-t border-black">
    <div class="container px-7 grid gap-6 md:px-6">
        <div class="max-w-5xl mx-auto gap-6 lg:grid-cols-2 lg:gap-10 items-center">
            <h2
                class="flex items-center text-3xl mb-5 font-bold tracking-tighter sm:text-4xl md:text-5xl justify-center">
                <svg class="w-14 h-14 mr-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1{fill:#1a1a1a;}</style></defs><title>Account, profile, user</title><g id="_06" data-name="06"><path class="cls-1" d="M16,20a9,9,0,1,1,9-9A9,9,0,0,1,16,20ZM16,4a7,7,0,1,0,7,7A7,7,0,0,0,16,4Z"></path><path class="cls-1" d="M30,30H8a1,1,0,0,1,0-2H27.94A9,9,0,0,0,19,20H13a9,9,0,0,0-9,9,1,1,0,0,1-2,0A11,11,0,0,1,13,18h6A11,11,0,0,1,30,29Z"></path></g></svg>
                Sobre mí
            </h2>
            <p class="text-gray-700 dark:text-gray-400 text-center md:text-2xl lg:text-md justify-center">
                Mi nombre es Carolina Comba, tengo 21 años y actualmente estoy estudiando la Tecnicatura Universitaria
                en Programación en la UTN de Córdoba. Soy apasionada por aprender y estoy buscando oportunidades
                para crecer tanto técnica como personalmente. Me encanta trabajar en equipo y enfrentar nuevos
                desafíos.
            </p>
        </div>
    </div>
</section>
