<section class="w-full py-12 border-t border-black px-7 md:px-10 lg:px-28 md:py-24 lg:py-32">
    <div class="px-0">
        <div class="items-center w-full gap-6 mx-auto lg:grid-cols-2 lg:gap-10">
            <h2
                class="flex items-center justify-center mb-5 text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl">
                <i class="mx-3 text-6xl bi bi-person"></i>
                Sobre mí
            </h2>
            <p class="justify-center text-center text-gray-700 dark:text-gray-400 md:text-2xl lg:text-md lg:px-36">
                Mi nombre es Carolina Comba, tengo 21 años y actualmente estoy estudiando la Tecnicatura Universitaria
                en Programación en la UTN de Córdoba. Soy apasionada por aprender y estoy buscando oportunidades
                para crecer tanto técnica como personalmente. Me encanta trabajar en equipo y enfrentar nuevos
                desafíos.
            </p>
        </div>
    </div>
</section>