<section id="sobre-mi" class="w-full py-12 md:py-24 lg:py-25 border-t">
    <div class="container px-7 md:px-6">
        <div class="grid max-w-5xl mx-auto items-center gap-6 lg:grid-cols-2 lg:gap-10">
            <div class="space-y-4">
                <h2 class="flex items-center text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl">
                    <svg class="w-14 h-14 mr-3" fill="#000000" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M16 15.503A5.041 5.041 0 1 0 16 5.42a5.041 5.041 0 0 0 0 10.083zm0 2.215c-6.703 0-11 3.699-11 5.5v3.363h22v-3.363c0-2.178-4.068-5.5-11-5.5z"></path></g></svg>
                    Sobre mí
                </h2>
                <p class="text-gray-500 dark:text-gray-400 mr-10">
                    Me llamo Carolina Comba, tengo 20 años y actualmente estoy estudiando la Tecnicatura Universitaria
                    en Programación en la UTN de Córdoba. Soy apasionada por aprender y estoy buscando oportunidades
                    para crecer tanto técnica como personalmente. Me encanta trabajar en equipo y enfrentar nuevos
                    desafíos. 🚀✨
                </p>
            </div>
            <div class="space-y-4">
                <div class="grid gap-4 md:gap-8 lg:gap-12">
                    <h2 id="educacion"
                        class="flex items-center text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl">
                        <svg class="w-14 h-14 mr-3" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                            fill="#000000">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <path
                                    d="M17.673 5.606a3326.02 3326.02 0 0 1-5.671-2.674L.138 8.524l2.03.98L2 9.531V20h1v-9.626l.72-.124.28.135v5.288c0 .914 5.206 3.533 6.249 4.049a3.89 3.89 0 0 0 3.48-.026C20 16.486 20 15.895 20 15.673v-5.288l3.854-1.857s-3.8-1.801-6.181-2.922zM19 15.504a51.526 51.526 0 0 1-5.726 3.302 2.884 2.884 0 0 1-2.582.02A40.184 40.184 0 0 1 5 15.521v-4.655l7 3.373 7-3.373zm-7-2.373L5.416 9.958l6.469-1.115-.17-.987-7.85 1.354-1.403-.676 9.537-4.495c.825.393 8.523 4.014 9.542 4.494z">
                                </path>
                                <path fill="none" d="M0 0h24v24H0z"></path>
                            </g>
                        </svg>
                        Educación
                    </h2>
                    <div class="space-y-4">
                        <h3 class="text-2xl font-bold tracking-tighter">
                            Tecnicatura Universitaria en Programación
                        </h3>
                        <p class="text-gray-500 dark:text-gray-400">
                            Universidad Tecnológica Nacional (2022 - Actualidad)</p>
                        <ul class="list-disc list-inside space-y-1.5">
                            <li>
                                En marzo de 2022 arranqué la Tecnicatura Universitaria en Programación
                                en la UTN - FRC y actualmente estoy cursando la última materia de la
                                carrera que se trata del trabajo final
                                para poder egresarme.
                            </li>
                            <li>
                                En el ámbito de desarrollo backend aprendí lenguajes como: Java, .NET y C#,
                                adquiriendo conocimientos en la creación de APIs RESTful utilizando frameworks como
                                Spring Boot y
                                ASP.NET Core.
                            </li>
                            <li>
                                En el desarrollo frontend adquirí conocimientos en lenguajes como: HTML,
                                CSS, JavaScript y Angular como framework para desarrollar aplicaciones web interactivas
                                y dinámicas.
                            </li>
                            <li>
                                Base de datos: SQL Server, PostgreSQL, MySQL.
                            </li>
                            <li>
                                Metodologías ágiles: Scrum.
                            </li>
                        </ul>
                    </div>
                    <div class="space-y-4">
                        <h3 class="text-2xl font-bold tracking-tighter">
                            Curso de Fundamentos de Programación e Introducción a Base de Datos
                        </h3>
                        <p class="text-gray-500 dark:text-gray-400">
                            Integral Capacitando (Marzo 2021 - Agosto 2021)</p>
                        <ul class="list-disc list-inside space-y-1.5">
                            <li>
                                Temas cubiertos incluyen: introducción a la programación, variables y
                                tipos de datos,
                                estructuras de
                                control de flujo, funciones, programación orientada a objetos en
                                lenguaje Java, introducción
                                a bases de
                                datos en lenguaje SQL en Access.
                            </li>
                            <li>
                                Examen final aprobado con 10.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>