<section class="w-full py-12 border-t border-b border-black md:py-24 lg:py-25">
    <div class="grid items-center justify-center gap-4 text-center px-7 md:px-6 md:gap-10">
        <div class="space-y-2">
            <h2
                class="flex items-center justify-center pb-5 text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl">
                <img src="assets/imagenes/skill.png" alt="Experiencia Laboral" class="mr-3 w-14 h-14">
                Skills
            </h2>
            <p
                class="justify-center text-base text-center text-gray-600 dark:text-gray-400 sm:text-lg md:text-xl lg:text-2xl">
                Estas son algunas de las tecnologías en las que tengo habilidades.
            </p>
        </div>
        <div class="grid gap-4 md:gap-8 lg:gap-12">
            <h3 class="justify-center text-2xl font-bold tracking-tighter text-center md:text-3xl">
                Backend
            </h3>
        </div>
        <div
            class="grid items-stretch justify-center w-full grid-cols-3 gap-2 lg:grid-cols-4 md:grid-cols-4 md:gap-6 lg:gap-8 sm:gap-4">
            <div class="flex flex-col items-center justify-center p-4 rounded-lg md:p-6">
                <img src="assets/imagenes/Java.png" width="64" height="64" alt="java"
                    class="mb-2 transition-transform duration-300 ease-in-out transform hover:scale-110"
                    style="aspect-ratio:64/64;object-fit:cover">
                <span class="text-lg font-semibold tracking-wide text-gray-900 dark:text-gray-100">
                    Java
                </span>
            </div>
            <div class="flex flex-col items-center justify-center p-4 rounded-lg md:p-6">
                <img src="assets/imagenes/C_.png" width="64" height="64" alt="c#"
                    class="mb-2 transition-transform duration-300 ease-in-out transform hover:scale-110"
                    style="aspect-ratio:64/64;object-fit:cover">
                <span class="text-lg font-semibold tracking-wide text-gray-900 dark:text-gray-100">
                    C#
                </span>
            </div>
            <div class="flex flex-col items-center justify-center p-4 rounded-lg md:p-6">
                <img src="assets/imagenes/.NET.png" width="64" height="64" alt=".net"
                    class="mb-2 transition-transform duration-300 ease-in-out transform hover:scale-110"
                    style="aspect-ratio:64/64;object-fit:cover">
                <span class="text-lg font-semibold tracking-wide text-gray-900 dark:text-gray-100">
                    .NET
                </span>
            </div>
            <div class="flex flex-col items-center justify-center p-4 rounded-lg md:p-6">
                <img src="assets/imagenes/Spring.png" width="64" height="64" alt="spring"
                    class="mb-2 transition-transform duration-300 ease-in-out transform hover:scale-110"
                    style="aspect-ratio:64/64;object-fit:cover">
                <span class="text-lg font-semibold tracking-wide text-gray-900 dark:text-gray-100">
                    Spring
                </span>
            </div>
        </div>
        <div class="grid gap-4 md:gap-8 lg:gap-12">
            <h3 class="justify-center text-2xl font-bold tracking-tighter text-center md:text-3xl">
                Frontend
            </h3>
        </div>
        <div
            class="grid items-stretch justify-center w-full grid-cols-3 gap-4 lg:grid-cols-4 md:grid-cols-4 md:gap-6 lg:gap-8">
            <div class="flex flex-col items-center justify-center p-4 rounded-lg md:p-6">
                <img src="assets/imagenes/HTML.png" width="64" height="64" alt="html5"
                    class="mb-2 transition-transform duration-300 ease-in-out transform hover:scale-110"
                    style="aspect-ratio:64/64;object-fit:cover">
                <span class="text-lg font-semibold tracking-wide text-gray-900 dark:text-gray-100">
                    HTML5
                </span>
            </div>
            <div class="flex flex-col items-center justify-center p-4 rounded-lg md:p-6">
                <img src="assets/imagenes/CSS.png" width="64" height="64" alt="css3"
                    class="mb-2 transition-transform duration-300 ease-in-out transform hover:scale-110"
                    style="aspect-ratio:64/64;object-fit:cover">
                <span class="text-lg font-semibold tracking-wide text-gray-900 dark:text-gray-100">
                    CSS3
                </span>
            </div>
            <div class="flex flex-col items-center justify-center p-4 rounded-lg md:p-6">
                <img src="assets/imagenes/js.png" width="64" height="64" alt="JavaScript"
                    class="mb-2 transition-transform duration-300 ease-in-out transform hover:scale-110"
                    style="aspect-ratio:64/64;object-fit:cover">
                <span class="text-lg font-semibold tracking-wide text-gray-900 dark:text-gray-100">
                    JavaScript
                </span>
            </div>
            <div class="flex flex-col items-center justify-center p-4 rounded-lg md:p-6">
                <img src="assets/imagenes/Angular.png" width="64" height="64" alt="angular"
                    class="mb-2 transition-transform duration-300 ease-in-out transform hover:scale-110"
                    style="aspect-ratio:64/64;object-fit:cover">
                <span class="text-lg font-semibold tracking-wide text-gray-900 dark:text-gray-100">
                    Angular
                </span>
            </div>
            <div class="flex flex-col items-center justify-center p-4 rounded-lg md:p-6">
                <img src="assets/imagenes/TS.png" width="64" height="64" alt="TypeScript"
                    class="mb-2 transition-transform duration-300 ease-in-out transform hover:scale-110"
                    style="aspect-ratio:64/64;object-fit:cover">
                <span class="text-lg font-semibold tracking-wide text-gray-900 dark:text-gray-100">
                    TypeScript
                </span>
            </div>
            <div class="flex flex-col items-center justify-center p-4 rounded-lg md:p-6">
                <img src="assets/imagenes/Bootstrap.png" width="64" height="64" alt="Bootstrap"
                    class="mb-2 transition-transform duration-300 ease-in-out transform hover:scale-110"
                    style="aspect-ratio:64/64;object-fit:cover">
                <span class="text-lg font-semibold tracking-wide text-gray-900 dark:text-gray-100">
                    Bootstrap
                </span>
            </div>
            <div class="flex flex-col items-center justify-center p-4 rounded-lg md:p-6">
                <img src="assets/imagenes/Tailwind.svg" width="64" height="64" alt="Tailwind"
                    class="mb-2 transition-transform duration-300 ease-in-out transform hover:scale-110"
                    style="aspect-ratio:64/64;object-fit:cover">
                <span class="text-lg font-semibold tracking-wide text-gray-900 dark:text-gray-100">
                    Tailwind
                </span>
            </div>
            <div class="flex flex-col items-center justify-center p-4 rounded-lg md:p-6">
                <img src="assets/imagenes/jQuery.webp" width="64" height="64" alt="jquery"
                    class="mb-2 transition-transform duration-300 ease-in-out transform hover:scale-110"
                    style="aspect-ratio:64/64;object-fit:cover">
                <span class="text-lg font-semibold tracking-wide text-gray-900 dark:text-gray-100">
                    jQuery
                </span>
            </div>
        </div>
        <div class="grid gap-4 md:gap-8 lg:gap-12">
            <h3 class="justify-center text-2xl font-bold tracking-tighter text-center md:text-3xl">
                Base de datos
            </h3>
        </div>
        <div class="grid items-stretch justify-center w-full grid-cols-3 gap-4 md:grid-cols-3 md:gap-6 lg:gap-8">
            <div class="flex flex-col items-center justify-center p-4 rounded-lg md:p-6">
                <img src="assets/imagenes/SQL Server.png" width="64" height="64" alt="sql server"
                    class="mb-2 transition-transform duration-300 ease-in-out transform hover:scale-110"
                    style="aspect-ratio:64/64;object-fit:cover">
                <span class="text-lg font-semibold tracking-wide text-gray-900 dark:text-gray-100">
                    SQL Server
                </span>
            </div>
            <div class="flex flex-col items-center justify-center p-4 rounded-lg md:p-6">
                <img src="assets/imagenes/PostgreSQL.png" width="64" height="64" alt="PostgreSQL"
                    class="mb-2 transition-transform duration-300 ease-in-out transform hover:scale-110"
                    style="aspect-ratio:64/64;object-fit:cover">
                <span class="text-lg font-semibold tracking-wide text-gray-900 dark:text-gray-100">
                    PostgreSQL
                </span>
            </div>
            <div class="flex flex-col items-center justify-center p-4 rounded-lg md:p-6">
                <img src="assets/imagenes/MySQL.png" width="64" height="64" alt="mysql"
                    class="mb-2 transition-transform duration-300 ease-in-out transform hover:scale-110"
                    style="aspect-ratio:64/64;object-fit:cover">
                <span class="text-lg font-semibold tracking-wide text-gray-900 dark:text-gray-100">
                    MySQL
                </span>
            </div>
        </div>
    </div>
</section>